[sources.my_source_id]
type = "file"
include = [ "/var/log/**/*.log" ]

[sinks.my_sink_id]
type = "clickhouse"
inputs = [ "my-source-or-transform-id" ]
compression = "gzip"
database = "mydatabase"
endpoint = "http://localhost:8123"
table = "mytable"